---
import Layout from '../layouts/layout.astro'
import Logo from "../components/logo.astro"
import Navigation from "../components/index/navigation.astro"
import Socials from "../components/index/socials.astro"
import Copyright from "../components/copyright.astro";
import Gradient from "../components/index/gradient.astro";
import Section from "../components/section.astro";
import Navbar from "../components/index/navbar.astro";
import Modularity from "../components/index/modularity.astro";
import BackButton from "../components/back-button.astro"
import Footer from "../components/footer.astro";
---

<Layout title="Gosub Web Browser Engine">
    <header>
        <Navbar/>
    </header>

    <Section first={true}>
        <section class="status lg:p-3">
            <BackButton/>
            <Gradient src="/gradients/status-left.svg" top={-17} rotate={80} right={1} width={1000} height={118} scale={0.8}/>
            <Gradient src="/gradients/status-right.svg" top={0  } width={516} height={618} scale={2}/>

            <div class="flex-row">
                <div class="basic-1/3">
                    <h2 class="text-3xl mb-2">
                        Interested in contributing to Gosub? Here’s how you can help!
                    </h2>
                    <hr>

                    <p class="mb-3 mt-3">
                    We're building Gosub, an ambitious project aiming to create a fully functional browser. There is a lot to do, and we welcome any help! However, as a small team, we're still working on getting fully organized.
                    While we love to have new contributors, we sometimes struggle to clearly define tasks that can be picked up by new contributors right away.
                    </p>

                    <p class="mb-3 mt-3">
                    Our first priority is to create a clear path forward. This means focussing on essential organizational tasks that we currently lack the time or energy for. We need to establish roadmaps, properly structure our documentation for new developers and streamline the onboarding process to avoid slowing down development.
                        </p>

                    <p class="mb-3 mt-3">
                    In essence, we need to strike a balance between a structured organization and weekend-long hackaton. The more people who get involved, the easier it will be to create that structure.
                        </p>

                    <p class="mb-3 mt-3">
                    For now, our roadmap includes:
                        </p>

                    <ul>
                        <li>- Documenting how to compile and run the current Gosub components.</li>
                        <li>- Reviewing and updating existing documentation to ensure it's accurate and complete.</li>
                        <li>- Discussing the way forward by setting up a clear roadmap and outlining coding styles and workflows we want to follow.</li>
                    </ul>

                    <p class="mb-3 mt-3">
                    Don't let this process discourage you! Even if you don't jump straight into coding like you may be able to in more mature projects, there are plenty of areas where your input will be valuable. We look forward to your contributions.
                    </p>

                    <p class="mb-3 mt-3">
                        Even if you do not (want to) contribute, you are always welcome to join us in the developer <a href="https://chat.developer.gosub.io">Zulip chat at
                        https://chat.developer.gosub.io</a> where you will find the developers talking about all things Gosub (and more).
                    </p>
                </div>
            </div>
        </section>
    </Section>

</Layout>
