---
import Layout from '../layouts/layout.astro'
import Logo from "../components/logo.astro"
import styles from "./index.module.scss"
import Section from "../components/section.astro"
import Navigation from "../components/index/navigation.astro"
import Socials from "../components/index/socials.astro"
import Hero from "../components/index/hero.astro"
import Modularity from "../components/index/modularity.astro"
import Status from "../components/index/status.astro"
import Contribute from "../components/index/contribute.astro"
---

<Layout title="GoSuB Browser">
    <header class={styles.header}>
        <Logo size="128"/>
        <Navigation/>
        <Socials/>
    </header>
    <Hero/>


    <Section first>
        <Modularity/>
    </Section>
    <Section>
        <Status/>
    </Section>
    <Section last>
        <Contribute/>
    </Section>
    <footer>
        <Socials/>
    </footer>
</Layout>
