---
import Layout from '../layouts/layout.astro'
import Logo from "../components/logo.astro"
import styles from "./index.module.scss"
import Section from "../components/section.astro"
import Navigation from "../components/navigation.astro"
import Socials from "../components/socials.astro"
import Hero from "../components/hero.astro"
// import Home from "../components/home.astro"
import {Image} from "astro:assets"
---

<Layout title="GoSuB Browser">
    <header class={styles.header}>
        <Logo size="128"/>
        <Navigation/>
        <Socials/>
    </header>
    <div class="blurred-wrapper">
        <Image src="/blurred-logo.svg" alt="Logo Gradient" width="1607" height="1086" class="blurred-logo"/>
    </div>
    <Hero/>

    <Section>

    </Section>
</Layout>


<style>
    .blurred-logo {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        scale: 1.2;
    }

    .blurred-wrapper {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100vw;
        overflow: hidden;
    }


</style>