---
import Layout from '../layouts/layout.astro'
import Section from "../components/section.astro"
import Hero from "../components/index/hero.astro"
import Modularity from "../components/index/modularity.astro"
import Status from "../components/index/status.astro"
import Contribute from "../components/index/contribute.astro"
import Navbar from "../components/index/navbar.astro";
import Footer from "../components/footer.astro"
---

<Layout title="Gosub Web Browser Engine">
    <header>
        <Navbar/>
    </header>
    <Hero/>

    <Section first={true}>
        <Modularity/>
    </Section>
    <Section>
        <Status/>
    </Section>
    <Section last={true}>
        <Contribute/>
    </Section>
</Layout>
<Footer/>
