---
import Layout from '../layouts/layout.astro'
import "./index.module.scss"
import Logo from "../components/logo.astro"
import styles from "./index.module.scss"
// import Home from "../components/home.astro"
---

<Layout title="GoSuB Browser">
    <h1 class={styles.name}>Gosub</h1>
    <Logo/>
</Layout>
