---
---

<div class="copyright text-zinc-500 font-extralight">
    <p>Copyright (C) 2024 - The Gosub community<p>

</div>

<style>
    .copyright i {
        color: lightgray;
    }
    .copyright {
        text-align: center;
        color: white;
    }
</style>
