---
interface Props {
    first: boolean;
    last: boolean;
}

const {first, last}: Props = Astro.props

let classes = ""
if (first) classes += "first "
if (last) classes += "last "
---


<section class={classes}>
    <span class="outer">
        <span/>
    </span>
    <div>
        <slot/>
    </div>
</section>


<style>
    section {
        position: relative;
        padding: .5rem 1rem;
    }

    .first {
        padding-top: 1rem
    }

    .last {
        padding-bottom: 1rem
    }


    div {
        width: 100%;
        min-height: 8rem;
        background-image: url("/gradients/texture.png");
        background-size: 80rem;
        background-repeat: repeat;
        background-position: -4rem;

        border-radius: 1rem;
        box-shadow: 0 4px 4px #0000003F;
    }


    span.outer {
        position: absolute;
        inset: 0;
        overflow: hidden;
    }

    span.outer > span {
        position: absolute;
        margin: .5rem 1rem;
        inset: 0;
        outline: 8rem solid #0000007F;
        border-radius: 1rem;
    }

    .first > span.outer > span {
        margin-top: 1rem;
    }

    .last > span.outer > span {
        margin-bottom: 1rem;
    }

</style>