---
import Gradient from "./gradient.astro"
---

<section class="contribution lg:p-3">
        <h2 class="text-3xl mb-2 font-bold">
            Join us and contribute today!
        </h2>
        <p class="mb-3 mt-3 text-white">
            Become part of our open-source community and help shape the future of browsing.
        </p>

        <div class="buttons">
            <a class="button github" href="https://github.com/gosub-io/gosub-engine">Github</a>
            <a class="button zulip" href="https://chat.developer.gosub.io">Zulip</a>
        </div>
    <!--<Gradient src="/gradients/logo-bg.svg" width={348} height={242} top={-10} scale={1.4}/>-->
</section>

<style>

    .buttons {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .contribution {
        text-align: center;
    }

    .github {
        background-color: black;
        color: white;
        border: 2px solid white;
    }

    .zulip {
        background-color: #F2F2F2;
        color: black;
    }

    .learn-more {
        background-color: black;
        color: white;
        border: 2px solid white;
    }

    .contribute {
        background-color: #F2F2F2;
        color: black;
    }
</style>


