---

import Gradient from "./gradient.astro"
---

<section>
    <div class="hero">
        <Gradient src="/gradients/blurred-logo.svg" width={1607} height={1086} top={-20} scale={1.2}/>
        <h1>Empower Your Web Experience With Gosub</h1>
        <p>Discover a customizable browser engine built for the modern web.</p>
        <div class="buttons">
            <button class="learn-more">Learn More</button>
            <button class="controbute">Contribute</button>

        </div>
    </div>
</section>


<style>

    .hero {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.17);
        background-image: url("/gradients/texture.png");
        background-size: 100%;

        border-radius: 2rem;
        border: 1px solid #E0E0E0A4;

        padding: 4rem 0;
        width: 90rem;
    }


    h1 {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 3rem;
    }

    section {
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
    }


    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        width: 50rem;
    }

    button {
        width: 16rem;
        height: 4.5rem;
        border-radius: .25rem;
        border: none;
        font-size: 1.25rem;
    }

    .learn-more {
        background-color: black;
        color: white;
    }

    .controbute {
        background-color: #F2F2F2;
        color: black;
    }


</style>