---


---


<nav>
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#goals">Goals</a>
        </li>
        <li>
            <a href="#status">Current Status</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</nav>


<style>
    nav {
        background-color: #00000080;
        height: 4.5rem;
        width: 40rem;
        border-radius: 9999rem;
        color: white;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 2rem;
        padding: 0;
    }

    a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
        font-size: 1.25rem;
        font-weight: normal;
    }
</style>
