html {
  font-family: system-ui, sans-serif;
  background: black;
  background-size: 224px;
}

body {
  margin: 0;
}

code {
  font-family: Menlo,
  Monaco,
  Lucida Console,
  Liberation Mono,
  DejaVu Sans Mono,
  Bitstream Vera Sans Mono,
  Courier New,
  monospace;
}