---
import "./layout.scss"
import Sidebar from "../components/sidebar.astro"
import Mesh from "../components/mesh.astro"
interface Props {
    title: string;
}

const {title} = Astro.props
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="GoSuB Browser"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href="/logo.png"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body style="margin: 0">
<Sidebar/>
<!--<Mesh/>-->
<main>
    <slot/>
</main>
</body>
</html>

<style>
    body {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    main {
    }
</style>