---
import "./layout.scss"
import Footer from "../components/footer.astro"
interface Props {
    title: string;
}

const {title} = Astro.props
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Gosub Web Browser Engine"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>

</head>
<body>
        <main class="text-justify">
            <div>
                <slot/>
            </div>
        </main>

        <Footer/>
</body>
</html>

<style>
    main {
        height: auto;
        //min-height: calc(100vh - 100px);
    }

    div {
        min-height: calc(100vh - 200px);
    }

    @screen lg {
        main {
            max-width: 1280px;
            margin: 0 auto;
        }
    }
</style>
